:host {
    background-color: var(--background-blue100-color);
    padding: 15px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    height: 100px;
}

@media screen and (max-width: 450px){
    .container {
        justify-content: center;
    }
}