<header class="global-header">
    <div class="container flex flex-row align-items-center justify-content-space-between">
        <h1>
            <a href="">
                <img
                class="logo" src="my-weight.svg" alt="The 'My Weight' logo.">
            </a>
        </h1>

        <nav>
            <ul class=".flex .flex-row .align-items-center">
                
                <li>
                    <a class="link-btn" href="/weight/entry">Weight Entry</a>
                </li>
            </ul>
        </nav>
    </div>
</header>