:host {
    background-color: var(--background-blue100-color);
    border-radius: 0 0 3em 3em;
    height: 300px;
    padding-bottom: 20px;
}

.container {
    background-color: red;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.box {
    height: 200px;
    width: 400px;
    background-color: green;
}