<div class="stats flex-container">
    <article class="stats-article">
        <header>
            <h3>Your Starting Stats</h3>
        </header>
        <div class="stats-container">
            <div class="stat-item">
                <p><strong>Starting Weight:</strong></p>
                <p>
                    150 pounds
                </p>
            </div>
            <div class="stat-item">
                <p><strong>Height:</strong></p>
                <p>
                    5'6 feet
                </p>
            </div>
            <div class="stat-item">
                <p><strong>Starting BMI:</strong></p>
                <p>
                    24.4
                </p>
            </div>
        </div>
    </article>
    <article class="stats-article">
        <header>
            <h3>Your Starting Stats</h3>
        </header>
        <div class="stats-container">
            <div class="stat-item">
                <p><strong>Starting Weight:</strong></p>
                <p>
                    150 lbs
                </p>
            </div>
        </div>
    </article>
</div>